.localiseTime {
	display: inline-flex;
	padding: 0 0.4em;
	border-radius: 99px;
	cursor: pointer;
	background-color: rgba(255,255,255,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
	align-items: baseline;
	flex-wrap: nowrap;
	gap: 0.3em;
	position: relative;
	font-weight: normal;
}
.localiseTime svg {
	height: 0.8em;
	width: 0.8em;
	padding: 0;
	margin: 0;
	vertical-align: unset;
	display: block;
}
.localiseTime span {
	line-height: 1.3;
	display: block;
	margin: 0;
	padding: 0;
	color: inherit;
	background: unset;
}
.localiseTime[data-isAmbiguous],
.localiseTime[data-hasDSTConfusion] {
	background-image: linear-gradient(to left, var(--redHex), transparent 3px);
	border-right: 1px solid var(--redHex);
}
.localiseTimeTooltip {
	pointer-events: none;
	position: fixed;
	display: block;
	white-space: pre;
	background-color: var(--tooltipBG);
	color: var(--tooltipText);
	border-radius: 10px;
	padding: 5px 10px;
	transform: translate(-50%, 17.5%);
	font-size: small;
	line-height: initial;
	box-shadow: 0 1px 5px rgb(0,0,0,.2);
	z-index: 99999;
	animation: showTooltip 100ms ease-in;
	animation-fill-mode: forwards;
	transform-origin: left top;
	opacity: 0;
}
.localiseTimeTooltip span {
	display: block;
}
.localiseTimeTooltip[data-isAmbiguous],
.localiseTimeTooltip[data-hasDSTConfusion] {
	background-image: linear-gradient(to top, var(--redHex), transparent 3px);
	border-bottom: 1px solid var(--redHex);
}
@keyframes showTooltip {
	from { opacity: 0; transform: translate(-50%, 17.5%); }
	to { opacity: 1; transform: translate(-50%, 0%); }
}
:root {
	--tooltipBG: #272335;
	--tooltipText: #f0f0f0;
	--redHex: #cf3463;
}
@media (prefers-color-scheme: light) {
	:root {
		--tooltipBG: #fff;
		--tooltipText: #202020;
	}
}
